.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: bisque;
    width: max-content;
}
.list_element{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid palegreen;
}
.list_element h2{
    font-size: 24px;
    font-weight: 600;
}
.list_element p{
    font-size: 18px;
    font-weight: 400;
}